.anh-hien-thi{
    padding-left: 15px;
}
.Huong-dan{
    display: block;
}
.btnS{
    display: flex;
    position: relative;
    float: left;
    margin: 0px 10px 10px 0;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
}
.btnM{
    display: flex;
    position: relative;
    float: left;
    margin: 0px 10px 10px 0;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
}
.btnL{
    display: flex;
    position: relative;
    float: left;
    margin: 0px 10px 10px 0;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
}
.btnXL{
    display: flex;
    position: relative;
    float: left;
    margin: 0px 10px 10px 0;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
}
.header{
    font-size: 20px;
    padding-bottom: 15px;
    color: #707070;

}
.title-head{
    font-size: 40px;
}
.price-box{
    font-size: 35px;
}



