.swiper-button-next{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-size: 20px;
  cursor: pointer;
}
.swiper-button-pre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-size: 20px;
    cursor: pointer;
  }
