.footer{
    width: 100%;
    float: left;
    border-top: solid 1px #ebebeb;
    color: white;
    background-color: black;
}
.h4{
    font-size: 25px;
    font-weight: 700;
    margin: 2px 0 24px;
    color: #999999;
    position: relative;
    text-transform: uppercase;
}
.a{
    text-decoration: none;
    color: #999999;
    font-size: 25px;
}
.social-button{
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
}
    .p{
        color:#999999;
    }
    



  