.red {
  color: red;
}
.green {
  color: green;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container{
  .header-container{
    .navbar-nav{
      z-index: 10;
      

      .nav-link{
        &.active{
          color: pink;
      }
    } 
      }
  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.navbar-nav{
  background-color: rgb(255,255,255);
  
}
.navbar{
  z-index: 10;
  opacity: 0.5;
}
  